*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: rgba(11, 121, 255, 0.185);
}
#timebox
{  width:100vw;
    height:150px;
    padding-top:20px;

    display:flex;
    flex-direction: column;
    align-items: center;
}
#time
{
    display:flex;
    gap:2px;
    font-size: 40px;
}
#name
{  padding-left:9px;
    display:flex;
    gap:20px;
}
#buttons
{
display:flex;
gap:25px;
/* border:2px solid; */
padding:5px;
}
#start,#reset,#stop
{  padding:5px;
    border:1px solid black;
    border-radius: 10px;
    background-color: rgba(30, 31, 31, 0.567);
    color:rgb(255, 255, 255);
    font-size:18px;
   cursor:pointer;
}
canvas{
    margin:10px;
    border:5px solid rgb(3, 11, 255);
    height:400px;
    width:385px;
    
}
